p {
    margin: 0px;
    font-size: 13px;
    font-family: Arial;
}
.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.profile-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-details {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px;
    border-style: solid; */
    margin-left: -70px;
}

.name {
    font-weight: bold;
    margin-bottom: 4px;
}

.desc,
.popular {
    color: rgb(88, 84, 84);
    margin-bottom: 4px;
}

button {
    cursor: pointer;
    background-color: rgb(17, 153, 227);
    border: none;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 2px;
}