.sidebar {
  position: fixed;
  background-color: white;
  width: 80px;
  top: 57px;
  left: 0px;
  bottom: 0px;
  z-index: 500;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  height: 76px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.sidebar-icons:hover {
  background-color: rgb(242, 233, 233);
}

.sidebar-icons img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-icons div {
  font-family: Roboto, Arial;
  font-size: 10px;
}

